@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-ExtraBoldItalic.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}